
{% extends 'base.html' %}
{% block title %}Singup Page{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <div class=" col-lg-6 ">
                <h1 class="sub-title text-center">회원가입</h1>
                  {% for field in form %}
                 <div class="form-group">
                {{ field.label }}
                {{field}}
             </div>
                {% endfor %}

                <div class="form-group">
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="회원가입">
                    <button class="btn btn-danger btn-lg btn-block" type="button"  onclick="location.href='/' ">취소</button>

                </div>
            </div>


    </form>

{% endblock %}

